<br>
<div class="footer">
  <div class="footerLeft">
    <div class="footerBox">
      <p>
        Sample text <br>

      </p>
    </div>
  </div>

  <div class="footerMiddle">
    <div class="footerBox">
      <p>
        Sample text <br>

      </p>
    </div>
  </div>

  <div class="footerRight">
    <div class="footerBox">
      <p>
        &copy; Pleb Squad Industrie <br>
        <small>Jitze O. </small><br>
        <small>Merijn S. </small><br>
        <small>Jelte A. </small><br>
      </p>
    </div>
  </div>
</div>
