<br>
<div class="footer">
  <div class="footerLeft">
    <div class="footerBox">
      <p>
        PWS Website <br>
      </p>
    </div>
  </div>

  <div class="footerMiddle">
    <div class="footerBox">
      <p>
        &copy; Pleb Squad Industrie
      </p>
    </div>
  </div>

  <div class="footerRight">
    <div class="footerBox">
      <p>
        <small>Jitze O. </small> - <small>Merijn S. </small> - <small>Jelte A. </small>
      </p>
    </div>
  </div>
</div>
