<div class="footer">
  <div class="footerLeft">
    <div class="footerBox">
      <p>
        Sample text <br>

      </p>
    </div>
  </div>

  <div class="footerMiddle">
    <div class="footerBox">
      <p>
        Sample text <br>

      </p>
    </div>
  </div>

  <div class="footerRight">
    <div class="footerBox">
      <p>
        Sample text <br>

      </p>
    </div>
  </div>
</div>
