/* CSS voor alle pagina's */
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}

.main {
  margin-top: 10px;
  padding: 0px 15px 0px 15px;
}
#welkom {
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 10px;
}

#zoek {
  width: 200px;
}

/* CSS home page */
.container {
  position: relative;
  background-color: #ffffff;
  width: 100%;
}

#mainHeader {
  position: absolute;
  left: 5%;
  top: 50%;
  font-size: 2.4vw;
  color: #00323d;
}

#backgroundImg {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.boxMain {
  padding: 10px;
  border: 1px solid grey;
}

.columnSide {
  width: 10%;
}

.columnMiddle {
  width: 80%;
}

.responsive{
  padding: 0px 6px;
     float: left;
     width: 24.9999%;
     margin: 10px 0px;
}

@media only screen and (max-width: 1200px){
    .responsive{
        width: 33.3333%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 900px){
    .responsive{
        width: 49.9999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive{
        width: 100%;
        margin: 6px 0;
    }
}

.boxMain:hover {
  border: 1px solid #595959;
}

/* CSS voor info.html */
.block {
  background-color: #DAE4F0;
  padding: 20px;
  margin-top: 15px;
  border-radius: .5em;
}

#testHeaders {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  margin-bottom: 15px;
  font-family: 'Times', serif;
  color: black;
}

#testCol {
  color: red;
}

#testFont {
  font-family: verdana;
  font-size: 10px;
}

/* CSS voor login */
#loginBox {
  text-align: center;
  width: 250px;
  height: 250px;
  border: 1px solid #828282;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

/* CSS voor uren page */
.card {
  display: block;
  margin: 10px;
  padding: 10px;
}

#infBtn {
  margin-left: 10px;
}

#tijd, #act, #date {
  margin: 7px;
  display: inline-block;
  width: 250px;
}

#uurChart {
  position: absolute;
  margin-top: -40px;
  right: 0px;
}

#uurChartInf {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* CSS voor uitleg */
.code {
  border: 1px solid #bebab0;
  color: #5e676d;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.popUp {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popUp-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#codeId {
  text-align: left;
  background: transparent;
  border: none !important;
}
