/* CSS voor alle pagina's */
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}

.main {
  margin-top: 10px;
  padding: 0px 15px 0px 15px;
}

.navbar-brand, .navbar-toggler {
  cursor: pointer;
}

#welkom {
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 10px;
}

#zoek {
  width: 200px;
}

/* CSS home page */
.container {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 5px;
}

#mainHeader {
  position: absolute;
  left: 5%;
  top: 50%;
  font-size: 2.4vw;
  color: #013b51;
}

#backgroundImg {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.balk {
  text-align: center;
  border-top: 1px solid #216983;
  border-bottom: 2px solid #216983;
  margin-bottom: 5px;
}

.balk h2 {
  color: #013b51;
}

.boxMain {
  padding: 10px 10px 0px 10px;
  position: relative;
  border: 2px solid #013b51;
  border-radius: 10px;
  width: 100%;
  height: 315px;
  max-height: 315px;
  overflow: hidden;
}

.boxMain:after{
  content: ' ';
  display: block;
  background-color: white;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.boxMain img {
  display: block;
  margin: auto;
  width: auto;
  height: 100px;
  max-width: 100%;
}

.columnSide {
  width: 10%;
}

.columnMiddle {
  width: 80%;
}

.responsive{
  padding: 0px 6px;
     float: left;
     width: 24.9999%;
     margin: 10px 0px;
     cursor: pointer;
}

@media only screen and (max-width: 1200px){
    .responsive{
        width: 33.3333%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 900px){
    .responsive{
        width: 49.9999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive{
        width: 100%;
        margin: 6px 0;
    }
}

.boxMain:hover {
  border: 2px solid #025472;
  box-shadow: 0 4px 8px 0 lightGrey, 0 6px 20px 0 lightGrey;
}

 /* Info popup*/
  #info {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 7px;
    width: 40px;
    height: 40px;
    background-color: #ff3333;
    color: white;
    text-align: center;
    border-radius: 4px;
  }

  #info .infoText {
    visibility: hidden;
    padding: 8px;
    position: absolute;
    width: 150px;
    margin-left: -173px;
    margin-top: -20px;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #013b51;
    font-size: 14px;
  }

  #info .show {
    visibility: visible;
  }

.footer{
  width: 100%;
  height: 120px;
  margin-top: 8px;
  background-color: #013b51;
}

.footerLeft, .footerMiddle, .footerRight {
  float: left;
  width: 33.3333%;
}

.footerBox {
  padding: 10px 10px 0px 10px;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #013b51;
  color: white;
}

.footerMiddle {
  text-align: center;
}

.footerRight {
  text-align: right;
}

/* CSS voor info.html */
.block {
  background-color: #DAE4F0;
  padding: 20px;
  margin-top: 15px;
  border-radius: .5em;
}

#testHeaders {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  margin-bottom: 15px;
  font-family: 'Times', serif;
  color: black;
}

#testCol {
  color: red;
}

#testFont {
  font-family: verdana;
  font-size: 10px;
}

/* CSS voor login */
#loginBox {
  text-align: center;
  width: 250px;
  height: 250px;
  border: 1px solid #828282;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

/* CSS voor uren page */
.card {
  display: block;
  margin: 10px;
  padding: 10px;
}

#infBtn {
  margin-left: 10px;
}

#tijd, #act, #date {
  margin: 7px;
  display: inline-block;
  width: 250px;
}

#uurChart {
  position: absolute;
  margin-top: -40px;
  right: 0px;
}

#uurChartInf {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* CSS voor uitleg */
.code {
  border: 1px solid #bebab0;
  color: #5e676d;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.popUp {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popUp-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#codeId {
  text-align: left;
  background: transparent;
  border: none !important;
}

/* CSS voor paint*/
.paint {
  align: center;
  height: 640px;
  width: 640px;
  border: 3px solid black;
}

#tile {
  height: 50%;
  width: 50%;
  position: relative;
  float: left;
  border: 3px solid black;
  background-color: white;
}
