<% include ../static/header.ejs %>

<h1 class="loader-wrapper" id="laadTekst">Even geduld a.u.b...</h1>
<div class="loader-wrapper">
    <div id="loader"></div>
</div>

<div class="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"><h5 id="showLoginTextToUser">Login request<br><br></h5></div>
    <div class="loader-section section-right"></div>

</div>

<div class="main">
  <div class="container">
    <img id="backgroundImg" src="../backgroundHeader.png" alt="Website">
    <div id="mainInf" class="btn btn-danger iButton">&#9432;
      <span class="infoTextR">
        Deze pulserende info knoppen geven je meer informatie over bepaalde delen op de website.
      </span>
    </div>
    <h1 id="mainHeader">Interactieve en Dynamische Website</h1>
  </div>

  <div class="balk">
    <h2>Welkom</h2>
  </div>

  <div class="row">
    <div class="columnSide"></div>
    <div class="columnMiddle">

      <div class="responsive" onclick="location.href='/talen';">
        <div class="boxMain">
          <img src="../programmeertalen.png" alt="Talen">
          <div class="boxText">
            <p>
            Voor een website gebruik je meer dan één progameertaal. Zo heb je html, css en javascript.
            Deze verschillende talen hebben allemaal hun eigen rol en functie binnenin een website. Zo
             heb je html voor wat de website toont, css voor de styling en javascript voor de functies achter de
            website.
            </p>
          </div>
        </div>
      </div>

      <div class="responsive" onclick="location.href='/uren';">
        <div class="boxMain">
          <img src="../uren.png" alt="Uren">
          <div class="boxText">
            <p>
              In ons profielwerkstuk hebben we veel tijd gestoken. Alle uren die we hieraan hebben besteed, zijn terug
              te vinden op onze uren pagina. Deze pagina bestaat uit een logboek en een diagram van het percentage van de
              totale hoeveelheid uren die elke persoon heeft gewerkt.
            </p>
          </div>
        </div>
      </div>

      <div class="responsive" onclick="location.href='/paint';">
        <div class="boxMain">
          <img src="../paint.png" alt="Paint">
          <div class="boxText">
            <p>
              Een van de 'applicaties' van onze website is een versimpelde versie van paint. Onze versie maakt
              gebruikt van een 32x32, een 24x24 en een 16x16 groot oppervlak. De grootte van dit oppervlak hangt
              af van de grootte van je scherm. Verder kan je gebruik maken van 8 kleuren om je mooie creaties op
              het doek te toveren.
            </p>
          </div>
        </div>
      </div>

      <div class="responsive" onclick="location.href='/uitleg/website';">
          <div class="boxMain">
            <img src="../websiteinfo.png" alt="Uitleg Website">
            <div class="boxText">
              <p>
                Er zijn veel manieren om een website te bouwen. Voor ons PWS hebben we besloten om de server
                code te schrijven in de taal Node.js. Dit komt omdat het redelijk eenvoudig is en steeds vaker
                wordt gebruikt voor het bouwen van een website.
              </p>
            </div>
          </div>
      </div>

      <div class="responsive bubble" onclick="location.href='/uitleg/database';">
        <div class="boxMain">
          <img src="../database.png" alt="Database">
          <div class="boxText">
            <p>
              Achter een website zit vaak ook een database. In een database wordt bepaalde informatie
              opgeslagen die weer kan worden opgehaald. In een database kan bijvoorbeeld login informatie
              opgeslagen worden. Er zijn verschillende soorten databases die je kan gebruiken en ieder
              heeft zo zijn eigen voordelen. Wij zelf gebruiken MySQL omdat deze het meest bekend is en veel
              mogelijkheden biedt.
            </p>
          </div>
        </div>
      </div>

      <div class="responsive" onclick="location.href='/uitleg/login';">
        <div class="boxMain">
          <img src="../login.png" alt="Login">
          <div class="boxText">
            <p>
              Een systeem om in te loggen op een website is een mooi voorbeeld van samenwerking tussen
              de website en de server erachter.
            </p>
          </div>
        </div>
      </div>

     </div>

     <div class="columnSide">
       <div id="panels" class="btn btn-danger iButton">&#9432;
         <span class="infoTextL">
           Dit zijn panels die je naar verschillende pagina's leiden wanneer je erop klikt. Bovendien, als je er
           met je muis overheen gaat dan veranderd de kleur van de border en van er komt een kleine schaduw.
         </span>
       </div>
     </div>
   </div>
<% include ../static/footer.ejs %>
</div>
