<% include ../static/header.ejs %>
<div class="main">
  <h1>Info</h1>
  
  <div class="block">
  <h2>HTML basics</h2>
  <p>
    HTML is als eerste niet een programmeertaal, het is een "Markup Language". Hiermee wordt bedoelt dat je met HTML kan bepalen hoe de pagina eruit ziet qua indeling. Dit zijn vooral hele simpele dingen. <br><br>
    
    <b>Titels / koppen</b><br>
    In HTML kan je heel makkelijk titels aangeven om een nieuw stuk tekst duidelijk te maken. Dit kan door middel met de "heading tags". Deze tags kunnen van grootte 1 tot en met 6 gaan (h1 t/m h6). 
    <div id="testHeaders">
      <h1>Zo ziet H1 eruit, de grootste header</h1>
      <h6>Zo ziet H6 eruit, de kleinste header</h6>
    </div><br>
    Deze headers worden veel gebruikt aan de bovenkant van pagina's om te laten zien hoe de pagina heet.
    <br><br>
    
    <b>Links</b><br>
    Als je op <a href="/">DEZE</a> link klikt, dan opent de home page in dit tabblad. Als je echter op <a href="/" target="_blank">DEZE</a> link klikt, dan opent de home page op een ander tabblad.
  </p>
  </div>
  
  <div class="block">
  <h2>CSS basics</h2>
  <p>
    CSS is, net zoals HTML, een markup language. Met CSS kan je echter veel meer doen qua het ontwerpen van het uiterlijk van je website. Zo kan je bijvoorbeeld <span id="testCol">tekst een kleur geven</span> of <span id="testFont">spelen met hoe het font eruit ziet</span>.
    <br><br>
    
    <b>Stuff</b><br>
    CSS voorbeelden
  </p>
  </div>
  
  <div class="block">
  <h2>JavaScript basics</h2>
  <p>
    Met JavaScript kan je de pagina op vele manieren beïnvloeden. Zo kan je bepaalde "events" waarnemen zoals een klik op het beeldscherm of als je over een bepaald item heen beweegt met je muis. Je script kan hiermee dan functies activeren, praten met de server of direct dingen veranderen op de pagina zelf
    <br><br>
    
    <b>Stuff</b><br>
    JavaScript voorbeelden
  </p>
  </div>
</div>
