<% include ../static/header.ejs %>
<div id="loginBox">
  <% if(type == "new") { %>
    <h4 class="loginTitle">Maak een account</h4>
    <p class="loginText">
      Gebruikersnaam:<br>
      <input type="text" name="newUsername"><br>
      Wachtwoord:<br>
      <input type="password" name="newPassword"><br>
      Bevestig wachtwoord:<br>
      <input type="password" name="confPassword"><br>
      Email:<br>
      <input type="text" name="email">
    </p>
    <input type="submit" value="Submit" id='newLogin'><br>
  <% } else { %>
    <h4 class="loginTitle">Inloggen</h4>
    <p class="loginText">
      Gebruikersnaam:<br>
      <input type="text" name="username">
      <br>
      Wachtwoord:<br>
      <input type="password" name="password">
    </p>
    <input type="submit" value="Submit" id='login'><br>
    <a href="/login/new">Maak een account</a><br>
    <a href="/login/forgot">Wachtwoord vergeten</a>
  <% } %>
</div>
<script type="text/javascript" src="../login.js"></script>
