<% include ../static/header.ejs %>
<div class="main">

<h1>Paint</h1>
<p>Dit is onze simpele versie van paint met acht verschillende kleuren die je
  kan gebruiken om een 32x32 (24x24 of 16x16 voor kleinere schermen) groot oppervlak in te kleuren. Voor meer informatie over de code kun je <a href="/uitleg/paint">hier</a> naartoe gaan.</p>
<div class="containerPaint">
  <div class="paint">
    <div class="doek">
      <% include ../static/paint.ejs %>
    </div>
      <div class="rasterButton" id="raster">Raster<span class="paintPopup" id="rasterId">Schakel het raster aan of uit</span></div>
      <div class="kleur" id="zwart"></div>
      <div class="kleur" id="wit"></div>
      <div class="kleur" id="rood"></div>
      <div class="kleur" id="oranje"><span class="paintPopup" id="kleurId">Kies een kleur om mee te schilderen</span></div>
      <div class="kleur" id="geel"></div>
      <div class="kleur" id="groen"></div>
      <div class="kleur" id="blauw"></div>
      <div class="kleur" id="paars"></div>
      <div id="reset">Reset<span class="paintPopup" id="resetId">Maak het doek weer wit</span></div>
  </div>
</div>
<% include ../static/footer.ejs %>
</div>
