<% include ../static/header.ejs %>
<div class="main">

<h1>Paint</h1>
<p>Dit is onze simpele versie van paint met acht verschillende kleuren die je
  kan gebruiken om een 32x32 (24x24 of 16x16 voor kleinere schermen) groot oppervlak in te kleuren.</p>
<div class="containerPaint">
  <div class="paint">
    <div class="doek">
      <% include ../static/paint.ejs %>
    </div>
      <button class="rasterButton" id="raster">Raster</button>
      <button class="kleur" id="zwart"></button>
      <button class="kleur" id="wit"></button>
      <button class="kleur" id="rood"></button>
      <button class="kleur" id="oranje"></button>
      <button class="kleur" id="geel"></button>
      <button class="kleur" id="groen"></button>
      <button class="kleur" id="blauw"></button>
      <button class="kleur" id="paars"></button>
      <button id="reset">Reset</button>
  </div>
</div>
<% include ../static/footer.ejs %>
</div>
