<% include ../static/header.ejs %>
<div class="main">
  <% if (uitleg == "login") { %>
      <h1>Login systeem</h1>
      <p>
        Een systeem om in te loggen op een website is een mooi voorbeeld van samenwerking tussen de website en de server erachter.<br>
        <h4>HTML / CSS</h4>
        Voor een login heb je als eerste een input nodig om je gebruikersnaam en wachtwoord in te voeren. Hier is een voorbeeld van een gebruikersnaam input voor een login:<br>
        <code>&lt;input type="text" name="username" placeholder="Gebruikersnaam"&gt;</code><br>
        Als eerst geven we aan dat wat input tekst is in plaats van een getal of iets anders. Door de "name" eigenschap van de input te gebruiken kan later de input gevonden worden door JavaScript. Als laatste kan je met de "placeholder" de input een voorbeeld tekst geven. Je kan ook met CSS de inputs en knoppen er mooier uit laten zien, maar dat is voor nu niet van belang.<br><br>
        <h4>JavaScript</h4>
        Om nu je gebruikersnaam (en wachtwoord) op te halen en wat mee te doen heb je dus JS nodig. Dit is te doen door alleen JavaScript zelf te gebruiken, maar om het makkelijker en overzichtelijker te maken gebruiken wij JQuery wat wij importeren in de header. Als eerst voegen wij toe een button en key listener toe. Hiermee luisteren we naar het indrukken van de enter knop of het indrukken van de inlog knop op de pagina. Zodra je dit doet, activeer je deze code:<br>
        <pre class="code">
$.ajax({
  url: '/login',
  data: {
    username: $("input[name='username']").val(),
    password: $("input[name='password']").val()
  },
  type: 'POST',
  success: function (data) {
    console.log(data)
    window.location.href = "/"
  },
  error: function (xhr, status, error) {
    console.log(xhr.responseText)
  }
});
        </pre><br>
        De ajax function wordt gebruikt om een request naar de server te sturen. Dit kan een <code>POST</code> of een <code>GET</code> request zijn. Voor het login systeem gebruiken wij een post request om dus informatie naar de server te sturen. Om dit te doen moeten er nog wel een aantal dingen gedaan worden. Als eerst geven we aan via welk adres we de request doen, wat in dit geval <code>/login</code> is. De <code>data</code> tag geeft weer welke gegevens wij naar de server sturen. Als laatste geven we ook nog aan wat we willen doen als de request succesvol is of niet. Dit gebeurd door de <code>success</code> en <code>error</code> function te vermelden. In ons gevallen loggen wij gewoon de login data en verwijzen we naar de home page als je succesvol bent ingelogd. Als dit niet het geval is, loggen we in de console wat er mis is gegaan.<br><br>
        <h4>Server side</h4>
        Op de server moeten we als eerste weer een listener toevoegen om te luisteren naar de <code>POST</code> request van de login pagina. Dit doen we op dezelfde manier als dat we luisteren naar een call van een webpagina.<br>
        <pre class="code">
app.post('/login', function(req, res) {
  conn.query('SELECT * FROM userinfo WHERE username = ?', req.body.username, function(err, result) {
    if (err || result[0] == undefined) return res.status(400).send('Username en/of wachtwoord is niet correct') 
    if (req.body.password == result[0].password) {
      req.session.user = req.body
      req.session.logged = true			
      res.status(200).send('Succesvol ingelogd')
    }	else { 
      res.status(400).send('Incorrect wachtwoord') 
    }
  })
})
        </pre><br>
        Als eerste zeggen we dat we voor deze functie luisteren naar post requests op de <code>/login</code> url. Daarna maken we een database query waar we zoeken of de gebruikersnaam bestaat in onze database. Zo niet, dan sturen we meteen met <code>res.status(400).send('')</code> een error terug naar de gebruiker. Als de gebruiker wel bestaat, dan controleren we of het ingevoerde wachtwoord klopt met wat er ook in de database staat. Als dat niet zo is sturen we weer een error terug. Als alles wel klopt, dan worden je gegevens opgeslagen als cookie in de server zelf. Hierdoor kan je browser dan later deze opgraven zodat je ingelogd blijft ookal verlaat je de website. Zodra dit is gedaan sturen we via <code>res.status(200).send('')</code> een bevestiging naar de gebruiker zodat deze weet dat hij is ingelogd.
      </p>
  <% } else if (uitleg == "website") { %>
      Uitleg over basis van website
  <% } else { %>
      Er is geen informatie beschikbaar over dit onderwerp
  <% } %>
</div>