<% include ../static/header.ejs %>
<% if (tInfo.user == "all") { %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Naam');
      data.addColumn('number', 'Uren');
      data.addRows([
        <% for (var key in tInfo.all) { %>
          ["<%= key %>", <%= tInfo.all[key] %>],
        <% } %>
      ]);
      var options = {'title':'Verhouding aantal minuten per persoon', 'width':400, 'height':300};
      var chart = new google.visualization.PieChart(document.getElementById('uurChart'));
      chart.draw(data, options);
    }
  </script>
<% } %>
<div class="main">
  <div>
    <p>
      Hier kan je zien hoe lang wij hebben gewerkt aan deze website.
      <% if (user.logged) { %>
        <div class="card">
          <input type="text" class="form-control" id="tijd" placeholder="Tijd (in min)">
          <input type="text" class="form-control" id="act" placeholder="Activiteit">
          <input type="date" class="form-control" id="date" placeholder="Datum">
          <button id="urenSubmit" class="btn btn-outline-info" type="submit">Invoeren</button>
        </div>
      <% } else { %>
        <div class="card">
          <button type="button" class="btn btn-danger" id="infBtn" data-toggle="popover">?</button>
          <input type="text" class="form-control" id="tijd" placeholder="Tijd (in min)" disabled>
          <input type="text" class="form-control" id="act" placeholder="Activiteit" disabled>
          <input type="date" class="form-control" id="date" placeholder="Datum" disabled>
          <button id="urenSubmit" class="btn btn-outline-info" type="submit" disabled>Invoeren</button>
        </div>
      <% } %>
      <!-- Ja ik weet dat dit hieronder er lelijk uitziet, maar het werkt nu wel zoals ik wil :^) -->
      <% if(res[0]) { %>
      <div class="card" <% if (tInfo.user == "all") { %>style="height: 320px;"<% } %>>
        <h3>Statistieken <% if (tInfo.user != "all") { %>van <%= tInfo.user %><% } %></h3>
        <div id="uurChart"></div>
        <b>Totale tijd:</b> <%= tInfo.hours %> uur, <%= tInfo.minutes %> minuten<br>
        <b>Gemiddeld:</b> <%= tInfo.avHours %> uur, <%= tInfo.avMinutes %> minuten<br>
        <% if (tInfo.user == "all") { %><button type="button" class="btn btn-danger" id="uurChartInf" data-placement="left" data-toggle="popover">?</button><% } %>
      </div>
    </p>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Tijd (in minuten)</th>
            <th>Activiteit</th>
            <th>Datum</th>
          </tr>
        </thead>
        <tbody>
          <% res.forEach(function(u) { %>
            <tr>
              <td><a href="/uren/<%= u.username %>"><%= u.username %></a></td>
              <td><%= u.minuten %></td>
              <td><%= u.activiteit %></td>
              <td><%= u.datum.getDate() + "/" + (u.datum.getMonth()+1) + "/" + u.datum.getFullYear() %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <b>Geen data gevonden in de database
    <% } %>
    </div>
  </div>
</div>
<% include ../static/footer.ejs %>
<script type="text/javascript" src="../uren.js"></script>
